.todo__form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  
    & > input,
    & > textarea {
      margin-bottom: 1rem;
    }
  
    & > button {
      width: 56px;
      border: 1px solid #ccc;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
  