.toDo__card {
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 15px;
    background-color: aliceblue;
    width: 282px;
    height: 182px;

    &.complete {
        background-color: greenyellow;
    }
}

.toDo__card-buttons {
    display: flex;
    width: fit-content;
    gap: 1rem;;
}